<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <p>Environmental</p>
    <p>educational</p>
    <p>community service</p>
    <p>health and wellness</p>
</main>
<%- include('partials/footer') %>